<h5 id="cardTitle" class="card-title text-center" data-i18n="today_title">
  Giá vàng hôm nay tại TP.HCM
</h5>
<% if (typeof noData !== 'undefined' && noData) { %>
<div class="alert alert-warning text-center mt-3">
  Chưa có dữ liệu. Vui lòng chạy /get-data để cập nhật giá.
</div>
<% } else { %>
<div class="row pg-section no-gutters">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <div class="table-responsive dark-mode-container mt-2">
      <table
        class="table table-bordered gold-rate-table bg-dark text-center"
        id="table-price"
      >
        <thead class="thead-gold">
          <thead class="thead-gold">
            <tr>
              <th class="th">
                <span class="table-title gram" data-i18n="col_date">Ngày</span>
              </th>
              <th class="th">
                <span class="table-title" data-i18n="col_buy"> Mua vào (VND/lượng) </span>
              </th>
              <th class="th">
                <span class="table-title" data-i18n="col_sell"> Bán ra (VND/lượng) </span>
              </th>
            </tr>
          </thead>
        </thead>

        <tbody>
          <% const lastIndex = data.length - 1; %>
          <tr>
            <td>
              <span><%= data[lastIndex].priceArray[0] %></span>
            </td>
            <td>
              <strong>VND <%= data[lastIndex].priceArray[1] %> </strong>
              <span class="price-change"
                >(<%= data[lastIndex].statusData.change[0] %>)</span
              >
              <span
                class="<%= data[lastIndex].statusData.symbol === '+' ? 'up-arrow' : (data[lastIndex].statusData.symbol === '-' ? 'down-arrow' : 'no-change') %>"
              ></span>
            </td>

            <td>
              <strong>VND <%= data[lastIndex].priceArray[2] %> </strong>
              <span class="price-change"
                >(<%=data[lastIndex].statusData.change[1] %>)</span
              >
              <span
                class="<%= data[lastIndex].statusData.symbol === '+' ? 'up-arrow' : (data[lastIndex].statusData.symbol === '-' ? 'down-arrow' : 'no-change') %>"
              ></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  </div>
</div>
<p id="price-pera" class="price-pera mt-2">
  <span id="peraText1" data-i18n="today_summary_1">Giá vàng DOJI TP.HCM hôm nay:</span>
  <strong>VND <%= data[lastIndex].priceArray[1]%></strong>
  <span id="peraText2" data-i18n="today_summary_2"> mua vào, </span>
  <strong>VND <%= data[lastIndex].priceArray[2] %></strong>
  <span id="peraText3" data-i18n="today_summary_3"> bán ra (đơn vị: lượng). </span>
</p>
<% } %>
